<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="#" class="img-thumbnail" alt="..."> <span class="fontt">FISERV</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb- mb-md-0">
        <li class="nav-item">
          
        </li>
      </ul>
      <form class="d-flex aligns-items-center">
        

        <ul class="navbar-nav me-auto mb- mb-md-0">
          <li class="nav-item aligns-items-center justify-content-cente" style="padding: 10px; border: 5px; left: 10px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
          </li>
          <li class="nav-item">
            <a> <div class="d-flex aligns-items-center" style="height: 20px;">
              <div class="vr"></div>
            </div></a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand aligns-items-center" style="margin-right: 0px;
            padding-right: 0px;
            padding-left: 5px;
            "><img src="#" class="img-thumbnail" alt=""> WELCOME, TOM TIZZY </a>
            
          </li>
          
          <li class="nav-item">
            <a class="navbar-brand aligns-items-center" ><div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: black; background-color: white; ">
            </button>
            <ul class="dropdown-menu dropdown-menu-end aligns-items-center">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
          </div></a>
            
          </li>



          
        </ul>


        
        
      </form>
    <div></div><div></div><div></div></div>
  </div>
</nav>

<style> 
  .fontt{
    color: #f60;
  }
  .nav-items{
    padding: 10px;
}
 
</style>
<a _ngcontent-mgl-c11="" href="#" class="navbar-brand" style="
    margin-right: 0px;
    padding-right: 5px;
    padding-left: 5px;
"><img _ngcontent-mgl-c11="" src="#" alt="..." class="img-thumbnail"> WELCOME, TOM TIZZY </a>